rsync \
    {%- for flag in flags %}
    --{{flag}} \
    {%- endfor -%}
    {%- if info %}
    --info={{ info.flags|join(',') }} \
    {%- endif -%}
    {%- for spec in includes %}
    --include='{{spec}}' \
    {%- endfor -%}
    {%- for spec in excludes %}
    --exclude='{{spec}}' \
    {% endfor -%}
    '{% if src.user %}{{src.user}}@{% endif %}{% if src.host %}{{src.host}}:{% endif %}{{src.path}}/' \
    '{% if dest.user %}{{dest.user}}@{% endif %}{% if dest.host %}{{dest.host}}:{% endif %}{{dest.path}}'

