rsync \
    -a \
    -v \
    -hh \
    --stats \
    -i \
    {%- if force_update %}{{force_update}} \{% endif%}
    {%- if backup %}{{backup}} \{% endif%}
    {%- if compress %}{{compress}} \{% endif%}
    {%- if dry %}{{dry}} \{% endif%}
    {%- if delete %}{{delete}} \{% endif%}
    {%- if delete_excluded %}{{delete_excluded}} \{% endif%}
    {%- if info %}
    --info={{ info.flags|join(',') }} \
    {%- endif -%}
    {%- for spec in includes %}
    --include='{{spec}}' \
    {%- endfor -%}
    {%- for spec in excludes %}
    --exclude='{{spec}}' \
    {% endfor -%}
    '{% if src.user %}{{src.user}}@{% endif %}{% if src.host %}{{src.host}}:{% endif %}{{src.path}}/' \
    '{% if dest.user %}{{dest.user}}@{% endif %}{% if dest.host %}{{dest.host}}:{% endif %}{{dest.path}}'

